---
const personalImageAlt = "Renzo Espinosa";
const borderImageAlt = "Border Image";
const border = "/border-img.webp"
import Badge from "./Badge.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import MailIcon from "./icons/Mail.astro";
import GitHubIcon from "./icons/GitHub.astro";
import SocialPill from "./SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-2">
    <div class="superponer relative">
      <div class="lightBorder bg-[#1f328487] dark:bg-transparent absolute"></div>
      <img
        class="img-1 rounded-full shadow-lg absolute top-0 left-0 w-full h-full transform scale-90"
        src="/renzo.webp"
        alt={personalImageAlt}
        width="107" height="107"
      />

      <!-- RECORDAR FORMATEAR A WEBP LAS IMAGENES PARA QUE PESE MENOS -->
      <img
        class="img-2 rounded full absolute w-full h-full mix-blend-mode-overlay transform scale-105 "
        src={border}
        alt={borderImageAlt}
      />

      <img
        class="img-2 rounded full absolute w-full h-full mix-blend-mode-overlay transform scale-105"
        src={border}
        alt={borderImageAlt}
      />
    </div>
    <a
      href="https://linkedin.com/in/renzo-espinosa-barcos"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105 mt-12 ml-8"
    >
    </a>
  </div>

<div class="flex justify-content gap-10"> 
  <h1
    class="text-[36px] font-bold tracking-tight text-gray-800 sm:text-[40px] dark:text-white"
  >
    Soy Renzo Barcos
  </h1>
  <div class="pt-3">
    <Badge>Disponible para trabajar</Badge>
  </div>
  </div>
</div>
  
  <p class="mt-4 text-xl text-gray-800 dark:text-gray-300">
    
    <strong class="dark:text-patito text-light1 break-words text-xl font-extrabold">Frontend Dev y Técnico en Programación
      </strong> de Buenos Aires, Argentina 🇦🇷. Dedicado a desarrollar aplicaciones web únicas.
  </p>
  

  <p class="mt-6 text-xl text-gray-800 dark:text-gray-300">
    Escribime en:
    <strong class="dark:text-patito text-light1 text-[#6223C1]break-words text-xl font-bold"
      >renzoespinosa.b@gmail.com
    </strong>
  </p>
  

  <nav class="flex flex-wrap gap-4 mt-8">
    
    <SocialPill href="mailto:miduga@gmail.com">
      <MailIcon class="size-4" />
      Gmail
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/renzo-espinosa-barcos">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/respp">
      <GitHubIcon class="size-4" />
      Github
    </SocialPill>
  </nav>



<style>

  
.lightBorder {
        width: 80px;
        height: 100px;
        border-radius: 50%;
        filter: blur(55px);
        z-index: -1;
      }

  .mix-blend-mode-overlay {
    mix-blend-mode: overlay;
  }

  .superponer {
    width: 13vh;
    height: 13vh;
    margin-bottom: 1rem;
  }

  .superponer img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .img-2 {
    filter: brightness(1.5);
  }
</style>
