---
import GitHub from "./icons/GitHub.astro"
import Tailwind from "./icons/Tailwind.astro"
import React from "./icons/React.astro"
import Ts from "./icons/Ts.astro"
import LinkButton from "./LinkButton.astro"
import Css from "./icons/Css.astro"
import MySql from "./icons/MySql.astro"
import Php from "./icons/Php.astro"
import Js from "./icons/Js.astro"
import Rocket from "./icons/Rocket.astro"

const TAGS = {
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-gray-800 border-2 border-[#38B2AC] text-[#38B2AC] font-bold",
    icon: Tailwind,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-gray-800 border-2 border-[#d45f3b] text-[#d45f3b] font-bold",
    icon: Rocket,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-gray-800 border-2 border-[#F7DF1E] text-[#F7DF1E] font-bold",
    icon: Js,
  },
  REACT: {
    name: "React",
    class: 'bg-gray-800 border-2 border-[#61DAFB] text-[#61DAFB] font-bold',
    icon: React,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: 'bg-gray-800 border-2 border-[#007ACC] text-[#007ACC] font-bold',
    icon: Ts,
  },
  CSS: {
    name: "CSS",
    class: 'bg-gray-800 border-2 border-blue-500 text-blue-500 font-bold',
    icon: Css,
  },
  PHP: {
    name: "PHP",
    class: 'bg-gray-800 border-2 border-[#8892BF] text-[#8892BF] font-bold',
    icon: Php,
  },
  SQL: {
    name: "MySQL",
    class: 'bg-gray-800 border-2 border-[#00758F] text-[#00758F] font-bold',
    icon: MySql,
  }
  
}
const PROJECTS = [
  {
    title: "Credit Card - Form",
    description:
      "Formulario interactivo que simula el proceso de ingreso de datos de tarjetas de crédito. Presenta varias tarjetas y valida automáticamente la información según su número.",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/creditcard.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.CSS],
  },
  {
    title: "WarrrenBank - Billetera Virtual No Country",
    description:
      "Billetera virtual desarrollada en colaboración con la agrupación de experiencia No Country con finalidad de acelerar mi reconversión profesional en tecnología.",
    image: "./projects/warrenbank.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.JAVASCRIPT],
    github: "https://github.com/pheralb/svgl",
  },
  {
    title: "Gelatto - CRUD y Sesiones",
    description:
      "Actividad realizada para la materia de Implementación de Web Dinámicas,7mo Programación y presentada en la muestra anual de trabajos distritales",
    image: "./projects/gelatto.webp",
    tags: [TAGS.PHP, TAGS.SQL, TAGS.CSS],
    github: "https://github.com/pheralb/svgl",
  },
  {
  title: "Movie-Listing",
    description:
      "Práctica en React donde aplico técnicas para mejorar el rendimiento y la usabilidad utilizando paginación, pageWrapper, uso de datos dinámicos, eventos, y demás",
    image: "./projects/movielisting.webp",
    tags: [TAGS.REACT, TAGS.CSS, TAGS.JAVASCRIPT],
    github: "https://github.com/pheralb/svgl",
  },
  {
  title: "Space-X",
    description:
      "Página web hecha en Astro con información de cada uno de sus lanzamientos y conexión a la API de Space X",
    image: "./projects/spacex.webp",
    tags: [TAGS.ASTRO, TAGS.TYPESCRIPT],
    github: "https://github.com/pheralb/svgl",
  },
  {
  title: "Ver más",
    description:
      "",
    image: "./projects/github.webp",
    tags: [],
    github: "https://github.com/pheralb/svgl",
  },
]
---

<div class="flex flex-col gap-y-16 relative mt-10 mx-auto">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
      <div class="card p-1 bg-[#4a513a33] dark:bg-[#3f433333]  rounded-2xl ring-1 ring-white/20 mx-auto">
      <article class="rounded-2xl p-2 m-1  space-x-0 space-y-2 group bg-gray-800 dark:bg-[#28337d]"> 
            <div class="w-full lg:w-full xl:w-full ">
              <div class="relative items-center transition duration-500 ease-in-out  overflow-clip rounded-xl container">
                <img alt="Imagen del Proyecto" class="object-cover object-top w-full h-38 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-100" loading="lazy" src={image} />
                <div class="shadow"></div>
              </div>
            </div>
          
            <div class="p-2 text-center">
              <h3 class="text-2xl font-bold dark:text-gray-100">
                {title}
              </h3>
              <div class="flex flex-wrap mt-2 justify-center ">
                <ul class="flex flex-row   gap-x-2">
                    {tags.map((tag) => (
                      <li>
                        <span
                          class={`flex gap-x-2 rounded-full text-sm ${tag.class} py-1 px-2 flex items-center`}
                        >
                          <tag.icon class="size-5" />
                          {tag.name}
                        </span>
                      </li>
                    ))}
                  </ul>
          
                <div class="mt-2 text-[#ffffff] dark:text-[#ffffff]">{description}</div>
                <footer class="flex items-end justify-start mt-2 gap-x-4">
                    {github && (
                      <LinkButton href={github}>
                        <GitHub class="size-6" />
                        Visit
                        
                      </LinkButton>
                    )}
                  </footer>
              </div>
            </div>
      </article>
        


</div>
    ))
  }
</div>


<style>
  
  @keyframes scale {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(.2);
    }
  }
  
  .card {
    max-width: 800px;
    position: sticky;
    top: 0;
    view-timeline: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: scale;
    animation-range: entry 100% cover 175%;
  }

  article{
    max-width: 800px;
    max-height: 850px;
  }

  .shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:radial-gradient(circle, #0d081b0c, #0c030a3e, #03010861, #04020c87, #03040cad);
      transition: all 500ms ease;
    opacity: 0;
  }

  .container:hover > .shadow{
    opacity: .9;
  }

</style>


