---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import React from "./icons/React.astro"
import Ts from "./icons/Ts.astro"
import LinkButton from "./LinkButton.astro"
import Css from "./icons/Css.astro"
import MySql from "./icons/MySql.astro"
import Php from "./icons/Php.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#38B2AC] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: 'bg-[#61DAFB] text-white',
    icon: React,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: 'bg-[#007ACC] text-white',
    icon: Ts,
  },
  CSS: {
    name: "CSS",
    class: 'bg-blue-500 text-white',
    icon: Css,
  },
  PHP: {
    name: "PHP",
    class: 'bg-[#8892BF] text-white',
    icon: Php,
  },
  SQL: {
    name: "MySQL",
    class: 'bg-[#00758F] text-white',
    icon: MySql,
  }
}
const PROJECTS = [
  {
    title: "Credit Card - Form",
    description:
      "Formulario interactivo que simula el proceso de ingreso de datos de tarjetas de crédito. Presenta varias tarjetas y valida automáticamente la información según su número",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/creditCard.webp",
    tags: [TAGS.REACT, TAGS.TYPESCRIPT],
  },
  {
    title: "WarrrenBank - Billetera Virtual No Country",
    description:
      "Billetera virtual desarrollada en colaboración con la agrupación de experiencia No Country",
    link: "https://adventjs.dev",
    image: "./projects/WarrenBank.webp",
    tags: [TAGS.REACT, TAGS.CSS],
  },
  {
    title: "Gelatto - CRUD y Sesiones",
    description:
      "Actividad realizada para la materia de Implementación de Web Dinámicas,7mo Programación",
    image: "./projects/Gelatto.webp",
    tags: [TAGS.PHP, TAGS.SQL, TAGS.CSS],
  },
]
---

<div class="flex flex-col gap-y-16 relative mt-10 mx-auto">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <div class="card dark:bg-yellow-500/5  rounded-2xl ring-1 ring-white/20 ">
      <article class="rounded-2xl p-2 m-1  space-x-0 space-y-2 group bg-[#35363A]"> 
            <div class="w-full lg:w-full xl:w-full ">
              <div class="relative items-center transition duration-500 ease-in-out  overflow-clip rounded-xl container">
                <img alt="Imagen del Proyecto" class="object-cover object-top w-full h-38 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-100" loading="lazy" src={image} />
                <div class="shadow"></div>
              </div>
            </div>
          
            <div class="p-2 text-center">
              <h3 class="text-2xl font-bold underline dark:text-gray-100">
                {title}
              </h3>
              <div class="flex flex-wrap mt-2 justify-center ">
                <ul class="flex flex-row   gap-x-2">
                    {tags.map((tag) => (
                      <li>
                        <span
                          class={`flex gap-x-2 rounded-full text-sm ${tag.class} py-1 px-2 flex items-center`}
                        >
                          <tag.icon class="size-5" />
                          {tag.name}
                        </span>
                      </li>
                    ))}
                  </ul>
          
                <div class="mt-2 text-[#ffffff] dark:text-[#ffffff]">{description}</div>
                <footer class="flex items-end justify-start mt-2 gap-x-4">
                    {github && (
                      <LinkButton href={github}>
                        <GitHub class="size-6" />
                        Code
                        
                      </LinkButton>
                    )}
                    {link && (
                      <LinkButton href={link}>
                        <Link class="size-4" />
                        Preview
                      </LinkButton>
                    )}
                  </footer>
              </div>
            </div>
      </article>
        


</div>
    ))
  }
</div>


<style>
  
  @keyframes scale {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(.2);
    }
  }
  
  .card {
    max-width: 800px;
    position: sticky;
    top: 0;
    view-timeline: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: scale;
    animation-range: entry 100% cover 175%;
  }

  article{
    max-width: 800px;
    max-height: 850px;
  }

  .shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:radial-gradient(circle, #0d081b0c, #0c030a3e, #03010861, #04020c87, #03040cad);
      transition: all 500ms ease;
    opacity: 0;
  }

  .container:hover > .shadow{
    opacity: .9;
  }

</style>


